/*
 * Full customize stream player for Airtime RMS
 * Version: 0.0.2
 * Author: Oleg Bukatchuk
 * E-mail% oleg@bukatchuk.com
*/

img {
    display: block;
    margin: auto;
    width: 250px;
}

.player {
    cursor: auto;
    background: transparent;
}

.onair {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration: underline;
}
